RewriteEngine on

# Blocca l'accesso a tutti i file che iniziano con un punto (es: .env, .htaccess)
<FilesMatch "^\.">
    Require all denied
</FilesMatch>

# Reindirizza la root alla cartella public/
RewriteRule ^$ /public/ [L]

# Riscrive le richieste a /assets/* per puntare a /public/assets/*
RewriteRule ^assets/(.*)$ /public/assets/$1 [L]

# Redirige /admin/auth/login a /admin/auth/login.php
RewriteRule ^admin/auth/login/?$ admin/auth/login.php [L]

# Redirige /admin/auth/register a /admin/auth/register.php
RewriteRule ^admin/auth/register/?$ admin/auth/register.php [L]

# Riscrivi URL da admin/page a admin/dashboard.php?page=page
RewriteRule ^admin/([^/]+)/?$ admin/dashboard.php?page=$1 [L,QSA]

# Riscrive /admin/contents/id a /admin/dashboard.php?page=edit&id=id
RewriteRule ^admin/contents/([0-9]+)/?$ admin/dashboard.php?page=edit-content&id=$1 [L,QSA]

# Redirect permanente da /admin a /admin/dashboard
RewriteRule ^admin/?$ /admin/contents [R=301,L]
